body {
  background-image: url(https://www.swayfinance.com/images/bigbackground.png);
  box-sizing: border-box;
}

.page {
  width: 940px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 50px;
}

.navlinks {
  width: 160px;
  font-size: 15px;
  font-weight: 300;
  text-align: right;
  float: right;
}

img {
  width: 154px;
}

a {
  color: #728993;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  padding: 10px;
}
